
/* Imported Google Font */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@300&display=swap');

body {
    font-family: lato, sans-serif;
    font-weight: 300px;
    color: #3a3a3a;
}

/* Setting the Default of Every Element */

* {
    margin: 0;
    padding: 0;
    border: none;
}

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

/* Logo */

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* Black bar underneath each menu item when hovering or on a selected website */

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/man-meditating-with-laptop.webp') no-repeat center center;
    /* animates zoom effect on loading page */ 
    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from{
    transform: scale(1);
    }
    to{
    transform: scale(1.1);
    }
}

/* Hero cover */

#hero-text, #cover-text h2 {
    color: #fff;
}

#hero-text, #cover-text h3 {
    color: rgb(255, 244, 89);
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 350px;
    padding-top: 40px;
    padding-left: 40px;
    background-color: rgba(103, 143, 204, 0.7);
    bottom: 50px;
    right: 170px;
    position: absolute;
    }



    #div1 {
        padding-top: 30px;
        width: 50%;
        float: left;
        background-color: blue;
    }

    #div2 {
        padding-top: 30px;
        width: 50%;
        float: right;
        background-color: red;
    }

    /* #div3 {
        padding-top: 30px;
        width: 50%;
        height: 100%;
        background-color: green;
    } */

