
/* Imported Google Font */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@300&display=swap');

body {
    font-family: lato, sans-serif;
    font-weight: 500px;
    color: #242323;
}

/* Setting the Default of Every Element */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    text-align: center;
}

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

/* Logo */

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* Black bar underneath each menu item when hovering or on a selected website */

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/man-meditating-with-laptop.webp') no-repeat center center;
    /* animates zoom effect on loading page */ 
    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* Creates the level of zoom for hero image */

@keyframes hero-zoom {
    from{
    transform: scale(1);
    }
    to{
    transform: scale(1.1);
    }
}

/* Hero cover */

#hero-text, #cover-text h2 {
    color: #fff;
}

#hero-text, #cover-text h3 {
    color: rgb(255, 244, 89);
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 350px;
    padding-top: 40px;
    padding-left: 40px;
    background-color: rgba(103, 143, 204, 0.7);
    bottom: 50px;
    right: 170px;
    position: absolute;
}

/* Banner */

#banner {
    font-size: 150%;
}

#banner h1 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* Info boxes */

.info-box {
    background-color: rgba(103, 143, 204);
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 70%;
    margin: auto;
    margin-bottom: 1rem;
}
    
.info-box img {
    height: 250px;
    width: 250px;
}

.info-box h1 {
    margin: 0;
    color: red;
}

.info-box p {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 120%;
}

/* History section */

#history {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-weight: 1000;
}

  .history-grid {  display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      ". Tantra ."
      "Mantra Yantra Yajna"
      ". Yoga ."
      "Bhaktti Raja Karma"
      ". Yama ."
      ". Niyamas ."
      ". Asana ."
      ". Pranayama ."
      ". Pratyahara ."
      ". Dharana ."
      ". Dhyana ."
      ". Samadhi ."
      ". Buddha ."
      ". Buddhism ."
      "Theravada Mahayana Vajrayana"
      ". Zen ."
      ". Mindfulness .";
  }
  
  .Tantra { 
    grid-area: Tantra; 
    background-color: rgba(255, 0, 0, 0.800);
}
  
.Mantra, .Yantra, .Yajna {
    background-color: rgba(255, 0, 0, 0.500);
}

.Bhaktti, .Raja, .Karma {
    background-color: rgba(255, 255, 0, 00.500)
}

.Yama, .Niyamas, .Asana, .Pranayama, .Pratyahara, .Dharana, .Dhyana, .Samadhi, .Buddha, .Buddhism {
    background-color: rgba(255, 166, 0, .600);
}

.Theravada, .Mahayana, .Vajrayana {
    background-color: rgba(0, 0, 255, 0.568);
}

  .Mantra { grid-area: Mantra; }
  
  .Yantra { grid-area: Yantra; }
  
  .Yajna { grid-area: Yajna; }
  
  .Yoga { 
    grid-area: Yoga;
    background-color: yellow;
}
  
  .Raja { grid-area: Raja;
    background-color: yellow; }
  
  .Bhaktti { grid-area: Bhaktti; }
  
  .Karma { grid-area: Karma; }
  
  .Yama { grid-area: Yama; }
  
  .Niyamas { grid-area: Niyamas; }
  
  .Asana { grid-area: Asana; }
  
  .Pranayama { grid-area: Pranayama; }
  
  .Pratyahara { grid-area: Pratyahara; }
  
  .Dharana { grid-area: Dharana; }
  
  .Dhyana { grid-area: Dhyana; }
  
  .Samadhi { grid-area: Samadhi; }
  
  .Buddha { grid-area: Buddha; }
  
  .Buddhism { 
    grid-area: Buddhism;
    background-color: rgba(0, 47, 255, 0.8);
}
  
  .Theravada { grid-area: Theravada; }
  
  .Mahayana { grid-area: Mahayana; }
  
  .Vajrayana { grid-area: Vajrayana; }
  
  .Zen { grid-area: Zen;
    background-color: rgba(0, 180, 0, 0.800);
}
  
  .Mindfulness { 
    grid-area: Mindfulness; 
    background-color: rgba(55, 172, 137, 0.842);
}
  
/* Meditation techniques page */

#techniques-section {
    height: 2050px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.techniques-grid {  
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    gap: 10px 10px; 
    grid-auto-flow: row;
  }

  .techniques-grid h3 {
    color:rgb(255, 0, 0);

  }

  .techniques-grid p, .techniques-grid h3 {
    padding: 0.5rem;
  }
  
  .cpr-meditation, .three-part-breathing, .inhale-six-exhale-six, 
  .body-scan-meditation,  .square-breathing, .four-inhale-eight-exhale, 
  .walking-meditation, .moving-meditation, .self-inquiry-meditation,
  .mindfulness-meditation, .guided-meditation, .mantra-meditation,
  .candle-meditation, .smile-meditation {
    background-color: rgba(103, 143, 204);
  }
  
  .inhale-six-exhale-six { grid-area: 3 / 1 / 4 / 2; }
  
  .body-scan-meditation { grid-area: 3 / 2 / 4 / 3; }
  
  .square-breathing { grid-area: 4 / 1 / 5 / 2; }
  
  .four-inhale-eight-exhale { grid-area: 4 / 2 / 5 / 3; }
  
  .walking-meditation { grid-area: 5 / 1 / 6 / 2; }
  
  .moving-meditation { grid-area: 5 / 2 / 6 / 3; }
  
  .self-inquiry-meditation { grid-area: 6 / 1 / 7 / 2; }
  
  .mindfulness-meditation { grid-area: 6 / 2 / 7 / 3; }
  
  .guided-meditation { grid-area: 7 / 1 / 8 / 2; }
  
  .mantra-meditation { grid-area: 7 / 2 / 8 / 3; }
  
  .candle-meditation { grid-area: 8 / 1 / 9 / 2; }
  
  .smile-meditation { grid-area: 8 / 2 / 9 / 3; }
  

/* Footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

iframe { 
    display: block; 
    margin: auto; 
    padding-bottom: 30px;
    padding-top: 20px;
  } 

/* Media queries */

  /* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }

    #techniques-section {
        height: 2300px;
    }

    #history {
        height: 900px;
    }

    .info-box p {
        margin-right: 15px;
        margin-left: 15px;
        font-size: 100%;
        text-align: center;
    }

    .info-box img {
        height: 50%;
        width: 20%;
        float: initial;
    }
}

/* For small screen sizes below 800px width */
@media screen and (max-width: 800px) {

    .info-box p {
        font-size: 100%;
        text-align: center;
        margin-right: 0px;
        margin-left: 0px;
        
    }

    .info-box {
        background-color: rgba(103, 143, 204);
        display: flex;
        
        padding: 40px;
        width: 50%;
        margin: auto;
        margin-bottom: 1rem;
    }

    #menu {
        clear: left;
        float: left;
        margin-left: 10px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #techniques-section {
        height: 2500px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    
}